<a href="#/login" class="btn btn-link" style="float:right">Logout</a>
<div class="container">
    <h2>Post answer</h2>
    <form name="form" ng-submit="vm.postAnswer()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.ddlTag.$dirty && form.ddlTag.$error.required }">
            <label for="question">Question: </label>
            <label ng-bind="vm.question"  name="question" id="question"></label>
        </div>
        <table st-table="rowCollection" class="table table-striped">
            <thead>
            <tr>
                <th>Answers</th>
                <th>Username</th>
                <th>Date and time</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in vm.answers">
                <td>{{row.answer}}</td>
                <td>{{row.userName}}</td>
                <td>{{row.dateAndTime|date}}</td>
            </tr>
            </tbody>
        </table>
            <label for="answer">Answer</label>
            <textarea  name="answer" id="answer"  rows="5" cols="10" class="form-control" ng-model="vm.answer" required ></textarea>
       <span></span>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Post Answer</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a href="\" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
